<template>
    <div>
        <header-layout :app="this"></header-layout>
        <spinner v-if="loading"></spinner>
        <div v-else-if="initiated" class="bg-white">
            
        </div>
        <router-view :app="this"/>
        <footer-layout></footer-layout>
    </div>
</template>

<script>

import Header from './components/Header';
import axios from 'axios'

export default {
    name: 'app',
    components: {
        Header
    },
    data() {
        return {
            user: null,
            loading: false,
            initiated: false,
            req: axios.create({
                baseUrl: BASE_URL
            })
        }
    },
    mounted()
    {
        this.init();
    },
    methods: {
        init()
        {
            this.loading = true;

            this.req.get('auth/init').then(response => {
                this.user = response.data.user;
                this.loading = false;
                this.initiated = true;
            });
        }
    }
};

</script>