<template>
    <div class="container pt-3 pb-3">
        <div class="card">
            <div class="card-header">
                Add Deals
            </div>

            <div class="card-body">
                <div class="col-md-6 offset-md-3">
                    <form v-on:submit.prevent="onSubmit">
                        <div class="alert alert-danger" v-if="errors.length">
                            <ul class="mb-0">
                                <li v-for="(error, index) in errors" :key="index">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Title" v-model="title">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>

                            <div class="col-md-6">
                                <input type="file" v-on:change="onImageChange" class="form-control">
                            </div>

                            <div class="col-md-3" v-if="image">
                                <img :src="image" class="img-responsive" height="35" width="35">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Description" v-model="description">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>
                            
                            <div class="col-md-6">
                                <select class="form-control" v-model="category">
                                    <option value="" disabled selected>
                                        Select your category
                                    </option>

                                    <option value="Electronic">
                                        Electronic
                                    </option>

                                    <option value="Kids">
                                        Kids
                                    </option>

                                    <option value="Home">
                                        Home
                                    </option>

                                    <option value="Vehicle">
                                        Vehicle
                                    </option>

                                    <option value="Food">
                                        Food
                                    </option>

                                    <option value="Health">
                                        Health
                                    </option>

                                    <option value="Kitchen">
                                        Kitchen
                                    </option>

                                    <option value="Game">
                                        Game
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>

                            <div class="col-md-6">
                                <input type="number" class="form-control" placeholder="Price" step=".001" pattern="^\d*(\.\d{1,3})?$" v-model="price">
                            </div>
                        </div>
                                
                        <div class="form-group row mb-0">
                            <label class="col-md-3"></label>

                            <div class="col-md-6">
                                <button class="btn btn-primary col-md-12 " style="background-color: #FF4500;border:none">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
</template>

<script>
    export default {
        name: 'addDeals',
        props: ['app'],
        data(){
            return {
                title: '',
                image: '',
                description: '',
                category: '',
                price:'',
                errors: []
            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            onSubmit() {
                this.errors = [];

                if(!this.title || !this.image || !this.description || !this.category || !this.price)
                {
                    this.$swal('Something went wrong!', 'Title, image, description, category and price are required.', 'error', 'OK');
                }

                if(!this.title)
                {
                    this.errors.push('Title is required.');
                }

                if(!this.image)
                {
                    this.errors.push('Image is required.');
                }

                if(!this.description)
                {
                    this.errors.push('Description is required.');
                }

                if(!this.category)
                {
                    this.errors.push('Category is required.');
                }

                if(!this.price)
                {
                    this.errors.push('Price is required.');
                }

                if(this.price <= 0){
                    this.errors.push('Invalid price.');
                }

                if(!this.errors.length)
                {
                    const data = {
                        title: this.title,
                        image: this.image,
                        description: this.description,
                        category: this.category,
                        price: this.price
                    };

                    this.app.req.post('addDeals', data).then(response => {
                        this.app.deals = response.data;
                        
                        this.title = '';
                        this.image = '';
                        this.description = '';
                        this.category = '';
                        this.price = '';

                        this.$swal('Success!', 'Deals added successfully.', 'success', 'OK');
                    }).catch(error => {
                        this.errors.push(error.response.data.error);
                    });
                }
            }
        }
    }
</script>