<template>
    <div>
        <div class="container pt-3 pb-3">
            <div class="card">
                <div class="card-header">
                    Delete Deals
                </div>

                <div class="card-body">
                    <table>
                        <tr>
                            <th style="display: none;">Id</th>
                            <th class="pl-5">Title</th>
                            <th class="pl-5">Image</th>
                            <th class="pl-5">Description</th>
                            <th class="pl-5">Category</th>
                            <th class="pl-5">Price</th>
                            <th class="pl-5">Action</th>
                        </tr>
                        <tr v-for="(deals,key) in list" :key="deals.id">
                            <td style="display: none;">{{ key+1 }} </td>
                            <td class="pl-5" style="max-width: 250px;overflow: hidden;text-overflow: ellipsis;white-space: wrap;">{{ deals.title }}</td>
                            <td class="pl-5 pt-5"><img :src="deals.image" width="150" height="150"></td>
                            <td class="pl-5" style="max-width: 250px;overflow: hidden;text-overflow: ellipsis;white-space: wrap;">{{ deals.description }}</td>
                            <td class="pl-5">{{ deals.category }}</td>
                            <td class="pl-5">{{ deals.price }}</td>
                            <td class="pl-5"><button class="btn" style="background-color:#FF4500;color:white;" type="button" @click.prevent="deletePost(deals.id, key)">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>

import axios from 'axios'
 
    export default {
        data() {
 
            return {
                list: [],
            }
        },
 
        created() {
            axios.get('listDeals').then(response => {
                this.list = response.data.data;
            });
        },
 
        mounted () {

        },
 
        methods: {
            deletePost: function(id, key)
            {
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You can\'t revert your action',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, Delete it!',
                    cancelButtonText: 'No, Keep it!',
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if (result.value) {
                        var dataToSubmit = {
                            deleteId: id,
                        };

                        axios.post('deleteDeals', dataToSubmit).then(response => {
                            if (response.data.success == true)
                                this.list.splice(key, 1);
                                this.$swal('Success!', 'Deals deleted successfully.', 'success', 'OK');
                        }).catch(error => {
                            
                        });
                    }
                })
            }
        },
    }
</script>