<template>
    <div class="footer-border-top footer-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                    <div class="mb-3">
                        <router-link to="/">
                            <img src="https://octaplus.io/img/logo2.png" class="mh-50 mt-2" width="190">
                        </router-link>
                    </div>
                </div> 
                
                <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                    <div>
                        <p class="p-0 m-1"><b> ABOUT OCTAPLUS </b></p> 

                        <ul class="p-1">
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> About Us </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Terms of Service </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Disclaimer </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Privacy Policy </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Cashback Terms </router-link>
                            </li>
                        </ul>
                    </div>
                </div> 
                
                <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                    <div>
                        <p class="p-0 m-1"><b> MORE FROM US </b></p> 
                        
                        <ul class="p-1">
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> FAQ </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Events </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Blog </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Customer Reviews </router-link>
                            </li> 
                            
                            <li class="list-inline">
                                <router-link to="/" class="text-dark"> Career </router-link>
                            </li>
                        </ul>
                    </div>
                </div> 
                
                <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div>
                                <p><b> MOBILE APP DOWNLOAD </b></p> 
                                
                                <div class="row">
                                    <div class="col-6">
                                        <a target="_blank" href="https://itunes.apple.com/app/octaplus/id1457072183">
                                            <img src="https://engineering.purdue.edu/coursemirror/wp-content/uploads/2020/08/appstore.png" alt="Octaplus available on the App Store" title="Octaplus available on the App Store" height="35">
                                        </a>
                                    </div> 
                                    
                                    <div class="col-6">
                                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.alcodes.octaplus">
                                            <img src="https://www.seekpng.com/png/full/22-227363_people-need-not-worry-about-the-devices-they.png" alt="Octaplus available on the Play Store" title="Octaplus available on the Play Store" height="35">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                            <div>
                                <p><br><b> FOLLOW US </b></p> 

                                <div>
                                    <div>
                                        <router-link to="/">
                                            <div class="follow-us">
                                                <img src="https://pcdn.sharethis.com/wp-content/themes/sharethis-custom/assets/images/facebookimg%20copy.png" title="Facebook" class="mr-1" height="30px">
                                            </div>
                                        </router-link>

                                        <router-link to="/">
                                            <div class="follow-us">
                                                <img src="https://pcdn.sharethis.com/wp-content/themes/sharethis-custom/assets/images/twitterimg%20copy.png" title="Twitter" class="mr-1" height="30px">
                                            </div>
                                        </router-link>

                                        <router-link to="/">
                                            <div class="follow-us">
                                                <img src="https://pcdn.sharethis.com/wp-content/uploads/2018/02/instagramimgnew.png" title="Instagram" class="mr-1" height="30px">
                                            </div>
                                        </router-link>
                                        
                                        <router-link to="/">
                                            <div class="follow-us">
                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS89biBY_j8cpAjJ9I1rn54BY05POf34LM4yA&usqp=CAU" title="YouTube" class="mr-1" height="30px">
                                            </div>
                                        </router-link>

                                        <router-link to="/">
                                            <div class="follow-us">
                                                <img src="https://pcdn.sharethis.com/wp-content/themes/sharethis-custom/assets/images/pinterest-pinimg%20copy.png" title="Pinterest" class="mr-1" height="30px">
                                            </div>
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="col-xl-12 copy-info-background p-2">
            <div class="text-white copy-info">
                <div class="text-center">
                    © 2021 Octaplus - Buy . Earn . Explore | All Rights Reserved.
                </div>
            </div>
        </div>
    </div>    
</template>