<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm header-border-bottom">
        <div class="container">
            <router-link class="navbar-brand" to="/">
                <img src="https://octaplus.io/img/logo.png" width="190">
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" :aria-label="'Toggle navigation'">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav mr-auto margin-auto" style="padding-left:10%;">
                    <li class="nav-item mr-4 d-none d-md-block">
                        <router-link to="/" class="nav-link text-dark">
                            <div class="d-flex align-items-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpQ4kEdQJUVOJc3jnjirdM2XFGErpFhZq58Q&usqp=CAU" title="Cashback" class="mr-1" height="20">
                                <span class="d-md-none d-lg-inline"> Cashback </span>
                            </div>
                        </router-link>
                    </li>

                    <li class="nav-item mr-4 d-none d-md-block">
                        <router-link to="/listDeals" class="nav-link text-dark">
                            <div class="d-flex align-items-center">
                                <img src="https://static.thenounproject.com/png/1977799-200.png" title="Deals" class="mr-1" height="20">
                                <span class="d-md-none d-lg-inline"> Deals </span>
                            </div>
                        </router-link>
                    </li>

                    <li class="nav-item mr-4 d-none d-md-block">
                        <router-link to="/" class="nav-link text-dark">
                            <div class="d-flex align-items-center">
                                <img src="https://st4.depositphotos.com/4177785/23302/v/950/depositphotos_233022840-stock-illustration-customer-feedback-rating-glyph-icon.jpg" title="Reviews" class="mr-1" height="20">
                                <span class="d-md-none d-lg-inline"> Reviews </span>
                            </div>
                        </router-link>
                    </li>

                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">...</button>

                        <div id="myDropdown" class="dropdown-content">
                            <li class="nav-item mr-4 d-none d-md-block">
                                <router-link to="/" class="nav-link text-dark">
                                    <div class="d-flex align-items-center">
                                        <img src="https://pngimage.net/wp-content/uploads/2018/06/voucher-icon-png-7.png" title="Vouchers" class="mr-1" height="20">
                                        <span class="d-md-none d-lg-inline"> Vouchers </span>
                                    </div>
                                </router-link>
                            </li>

                            <li class="nav-item mr-4 d-none d-md-block">
                                <router-link to="/" class="nav-link text-dark">
                                    <div class="d-flex align-items-center">
                                        <img src="https://www.clipartkey.com/mpngs/m/171-1712466_reward-logo-black-and-white.png" title="Rewards" class="mr-1" height="20">
                                        <span class="d-md-none d-lg-inline"> Rewards </span>
                                    </div>
                                </router-link>
                            </li>

                            <li class="nav-item mr-4 d-none d-md-block">
                                <router-link to="/" class="nav-link text-dark">
                                    <div class="d-flex align-items-center">
                                        <img src="https://www.pinclipart.com/picdir/middle/98-989146_day-free-transparent-png-clipart-christmas-tree-icon.png" title="Wish Tree" class="mr-1" height="20">
                                        <span class="d-md-none d-lg-inline"> Wish Tree </span>
                                    </div>
                                </router-link>
                            </li>
                        </div>
                    </div>

                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item d-none d-md-block">
                        <router-link to="/" class="nav-link">
                            <div class="d-flex align-items-center">
                                <img src="https://i.pinimg.com/originals/93/5e/0f/935e0f7b1497a03d24cdef2ef7ce7b6c.png" title="Help" height="20">
                            </div>
                        </router-link>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user ? app.user.name : 'Account' }} <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <div v-if="!app.user">
                                <router-link to="/login" class="dropdown-item">Login</router-link>
                                <router-link to="/register" class="dropdown-item">Register</router-link>
                            </div>

                            <div v-else>
                                <router-link to="/addDeals" class="dropdown-item">Add Deals</router-link>
                                <router-link to="/deleteDeals" class="dropdown-item">Delete Deals</router-link>
                                <a @click="logout" href="javascript:;" class="dropdown-item">Logout</a>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>

export default {
    name: 'header-layout',
    props: ['app'],
    data(){
        return {

        }
    },
    methods: {
        logout()
        {
            this.app.req.post('auth/logout').then(() => {
                this.app.user = null;
                this.$router.push('/login');
            });
        }
    }
}

</script>