<template>
    <div class="container pt-3 pb-3">
        <div class="card">
            <div class="card-header">
                Register
            </div>
        
            <div class="card-body">
                <div class="col-md-6 offset-md-3">
                    <form v-on:submit.prevent="onSubmit">
                        <div class="alert alert-danger" v-if="errors.length">
                            <ul class="mb-0">
                                <li v-for="(error, index) in errors" :key="index">
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>
                            <img src="https://static.thenounproject.com/png/363640-200.png" width="35" height="35">

                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Nickname" v-model="name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>
                            <img src="https://image.flaticon.com/icons/png/512/8/8807.png" width="35" height="35">

                            <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email" v-model="email">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>
                            <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/lock-24-512.png" width="35" height="35">

                            <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Password" v-model="password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3"></label>
                            <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/lock-24-512.png" width="35" height="35">
                            
                            <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Confirm Password" v-model="confirmPassword">
                            </div>
                        </div>

                        <div class="form-group row mb-0 pl-2">
                            <div class="col-md-7">
                                <button class="btn btn-primary col-md-12 offset-md-5" style="background-color: #FF4500;border:none">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>        
        </div>
    </div>   
</template>

<script>

export default {
    name: 'register',
    props: ['app'],
    data() {
        return {
            name: '',
            email: '',
            password: '',
            confirmPassword: '',
            errors: []
        }
    },
    methods: {
        onSubmit()
        {
            this.errors = [];

            if(!this.name || !this.email || !this.password || !this.confirmPassword)
            {
                this.$swal('Something went wrong!', 'Nickname, email, password and confirm password are required.', 'error', 'OK');
            }

            if(!this.name)
            {
                this.errors.push('Nickname is required.');
            }

            if(!this.email)
            {
                this.errors.push('Email is required.');
            }

            if(!this.password)
            {
                this.errors.push('Password is required.');
            }

            if(this.password.length < 8 || this.confirmPassword.length < 8)
            {
                this.errors.push('The minimum length of password is 8 characters.');
            }

            if(!this.confirmPassword)
            {
                this.errors.push('Confirm Password is required.');
            }

            if(this.password != this.confirmPassword)
            {
                this.errors.push('Passwords do not match.');
            }

            if(!this.errors.length)
            {
                const data = {
                    name: this.name,
                    email: this.email,
                    password: this.password
                };

                this.app.req.post('auth/register', data).then(response => {
                    this.app.user = response.data;
                    this.$router.push('/');
                }).catch(error => {
                    this.errors.push(error.response.data.error);
                });
            }
        }
    }
}

</script>